<!DOCTYPE html>
<html>
<head>
  <title>Wecipe</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<style>
  body {
    width: 940px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #eee;
  }
</style>

<body>
<div class="header">
  <span style="font-weight: bold; font-size: 16px;">
    <%= link_to "Wecipe", root_url %>
  </span>
  <span>
    Recipes, Together.
  </span>

  <div class="navigation" style="text-align: right;">
    <%= link_to "Recipes", recipes_path %>
    <%= link_to "Ingredients", ingredients_path %>
  </div>
</div>
<hr>
<%= yield %>

</body>
</html>
